{{!< default}}

<div class="content-area">
<main class="site-main">

    {{#post}}

    <article class="{{post_class}} gh-article">
        <header class="gh-article-header gh-canvas">
            {{> "feature-image"}}

            <h1 class="gh-article-title">{{title}}</h1>

            <div class="gh-meta-share">
                <a href="#/share" class="gh-button-share">{{t "Share"}}</a>
            </div>

            {{#if custom_excerpt}}
                <div class="gh-article-excerpt">{{custom_excerpt}}</div>
            {{/if}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

        <div class="gh-meta-share">
            <a href="#/share" class="gh-button-share">{{t "Share"}} {{> "icons/share"}}</a>
        </div>
    </article>

    {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments}}
        </div>
    {{/if}}

    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>
</div>